html {
  box-sizing: border-box;
}
.title {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.game-images {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.game-images img {
  max-width: 320px;
  height: auto;
  border: solid 2px black;
  border-radius: 25%;
}
